*{
  margin:0;
  padding:0;
}
.heading{
  color:blue;
}
.table{
  border:0.5px solid black;

}
span{
  color: blue;
}
.head{
  color:green;
}
.check{
  background-color: green;
  color:white;
  border: none;
}
.navbar-brand{
  color:blue;
}
.button{
  color: white;
}
.icon{
  color:blue;
  border-color: blue;
}
input{
  width:95%;
}

